<div class="container">

    <mat-card>
        <mat-toolbar color="accent">
            <div align="center" style="color:white;text-align: right;">
                Crud.
            </div>
        </mat-toolbar>
        <br><br>
        <mat-card-content>
            <form [formGroup]="pessoaForm" (ngSubmit)="onFormSubmit(pessoaForm.value)">
                <table>
                    <tr>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="nome" matTooltip="Digite o nome da Pessoa" matInput
                                    placeholder="Nome">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!pessoaForm.get('nome').value && pessoaForm.get('nome').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input matInput [matDatepicker]="picker" matTooltip="Data de Nascimento"
                                    formControlName="dataNascimento" placeholder="Data de Nascimento">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-error>
                                <span
                                    *ngIf="!pessoaForm.get('dataNascimento').value && pessoaForm.get('dataNascimento').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="email" matTooltip="Digite o Email" matInput placeholder="Email">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!pessoaForm.get('email').value && pessoaForm.get('email').touched"></span>
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl1">
                            <span>Gênero</span>
                            <br><br>
                            <mat-radio-group matTooltip="Gênero" [(ngModel)]="radioValue" formControlName="genero">
                                <mat-radio-button [value]="0">Masculino</mat-radio-button>
                                <mat-radio-button [value]="1">Feminino</mat-radio-button>
                            </mat-radio-group>
                            <mat-error>
                                <span
                                    *ngIf="!pessoaForm.get('genero').value && pessoaForm.get('genero').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input matTooltip="Digite o Endereço" formControlName="endereco" matInput
                                    placeholder="Endereço">
                            </mat-form-field>
                            <mat-error>
                                <span
                                    *ngIf="!pessoaForm.get('endereco').value && pessoaForm.get('endereco').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="cpf" matTooltip="Digite o CPF" matInput placeholder="CPF" mask="999.999.999-99" clean="true">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!pessoaForm.get('cpf').value && pessoaForm.get('cpf').touched"></span>
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="content-center">
                            <button type="submit" mat-raised-button color="accent" matTooltip="Enviar Pessoa"
                                [disabled]="!pessoaForm.valid">Salvar</button>
                            <button type="reset" mat-raised-button color="accent" matTooltip="Limpar"
                                (click)="resetForm()">Limpar</button>
                        </td>
                        <td>
                            <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold"
                                Class="success" align="left">
                                {{message}}
                            </p>
                        </td>
                    </tr>
                </table>
                <br><br>
                <table class="table" striped="true" hover="true">
                    <thead class="black white-text">
                    <tr ngclass="btn-primary">
                        <th class="tbl2">Nome</th>
                        <th class="tbl2">Data Nascimento</th>
                        <th class="tbl2">Email</th>
                        <th class="tbl2">Genero</th>
                        <th class="tbl2">Endereco</th>
                        <th class="tbl2">Cpf</th>
                        <th class="tbl2"></th>
                        <th class="tbl2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let pessoa of todasPessoas">
                        <td class="tbl2">{{pessoa.nome}}</td>
                        <td class="tbl2">{{pessoa.dataNascimento | date }}</td>
                        <td class="tbl2">{{pessoa.email}}</td>
                        <td class="tbl2">{{pessoa.genero ==0? 'Masculino' : 'Feminino'}}</td>
                        <td class="tbl2">{{pessoa.endereco}}</td>
                        <td class="tbl2">{{pessoa.cpf}}</td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-info" matTooltip="Editar"
                                (click)="loadPessoaToEdit(pessoa.id)">Editar</button>
                        </td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-danger" matTooltip="Deletar"
                                (click)="deletePessoa(pessoa.id)">Deletar</button>
                        </td>
                    </tr>
                    </tbody>                 
                </table>
            </form>
        </mat-card-content>
    </mat-card>
</div>